body {
  background-image: url("/public/background-image.jpeg");
  background-size: cover;
  font-family: Arial, sans-serif;
}
form {
  max-width: 500px;

  margin: 20px auto;
  background-color: #fff;
  padding: 20px 50px 30px 50px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
label {
  display: block;
  margin-bottom: 10px;
}
input {
  border: none;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  border-bottom: 1px solid #007bff;
}

select {
  border: none;
  border-bottom: 1px solid #aaa;
  box-sizing: border-box;
  outline: none;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  height: 40px;
  font-size: 14px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
  margin-right: 10px;
  margin-top: 24px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 36px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:active {
  background-color: #3e8e41;
}

input[type="reset"] {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 36px;
  font-weight: bold;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  border-radius: 10px;
  color: black;
}
.topnav a.active {
  background-color: #4caf50;
  border-radius: 10px;
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

.terms {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.checkIn,
.checkOut {
  margin-bottom: 0px;
  font-weight: bold;
}
